@charset "utf-8";

*{margin:0px; padding:0px;}
a{
    color: #333;
    text-decoration: none;
}
ul,li,ol{list-style: none;}
body{
    color: #333;
    background-color: #fff;
    font-size: 12px;
    font-family:'나눔 고딕', Arial, sans-serif
}
