@charset "utf-8";

#wrap{
    width: 1200px; height: 800px;
    background-color: rgb(243, 231, 215);
    margin: 0px auto;
}

/* 헤더 */
h1 a img{
    width: 100px;
    padding: 30px;
}

header{
    width: 160px; height: 800px;
    background-color: rgb(223, 223, 184);
}

/* 내비게이션 */
.gnb{}
.gnb > ul{}
.gnb > ul > li{
    width: 160px;
    line-height: 30px;
    margin: 0px auto;
    text-align: center;
}
.gnb > ul > li > a{
    display: block;
    color: #fff;
    background-color:darkkhaki;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
}
.gnb > ul > li > a:hover{
    background-color: darkolivegreen;
}

.sub{display: none;}
.sub > li{}
.sub > li > a{
    display: block;
    transition: 0.4s;
}
.sub > li > a:hover{
    background-color: #fff;
}